{% extends 'users/base.html'%}
{% load crispy_forms_tags%}
{%block title %}login{% endblock %}

{% block content %}
<div class="content-section">
<form method="post">
    {% csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                {{form| crispy }}
            </legend>
        </fieldset>
    <button class="btn btn-outline-info" type="submit">Sign in</button>
</form>
    <div class="border-top pt-3">
        <small class="text-muted">don't have an account? register <a href="#">here</a></small>
    </div>
</div>
{% endblock %}